body,
html {
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.h-w-100 {
    height: 100%;
    width: 100%;
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.897);
}

.top-screen {
    width: 100vw;
    min-height: 10vh;
}

.left-screen {
    min-height: 90vh;
    border: 1px solid gray;
    color: gray;
}

.chess-screen {
    max-height: 80vh;
    padding: 0 0 0 0;
    /* border: 1px solid salmon; */
    border-bottom: 1px solid gray;
    width: 100%;
}

.right-screen {
    max-height: 90vh;
    border: 1px solid gray;
    color: gray;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
}

.active-screen {
    margin-left: 0px 0px 0px 0px;
    padding: 0 0 0 0;
    min-height: 6vh;
    width: 100%;
}

.turn-screen {
    padding: 0 0 0 0;
    color: gray;
    border-top: 1px solid gray;
    width: 100%;
}

.timer-screen {
    padding: 0 0 0 0;
}

.timer-screen-div {
    margin: 0 0 0 0;
    /* border: 1px solid red; */
    color: gray;
    height: 100%;
    width: 100%;
}

.diagonal-outline-left {
    /* border: 1px solid gray; */
    margin: 0 0 0 0;
    width: 20%;
    min-height: 100%;
    display: inline-block;
    background: linear-gradient(to top right, rgba(128, 128, 128, 0) 0%, rgba(128, 128, 128, 0) calc(50% - 0.8px), rgba(128, 128, 128, 1) 50%, rgba(128, 128, 128, 0) calc(50% + 0.8px), rgba(128, 128, 128, 0) 100%);
}

.horizontal-outline {
    border-bottom: 1px solid gray;
    width: 60%;
    height: 100%;
    margin: 0 0 0 0;
    display: inline-block;
}

.diagonal-outline-right {
    /* border: 1px solid gray; */
    width: 20%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to top left, rgba(128, 128, 128, 0) 0%, rgba(128, 128, 128, 0) calc(50% - 0.8px), rgba(128, 128, 128, 1) 50%, rgba(128, 128, 128, 0) calc(50% + 0.8px), rgba(128, 128, 128, 0) 100%);
}

.player-color-screen {
    margin: 0 0 0 0;
    color: gray;
    border-top: 1px solid gray;
    width: 100%;
}

.show-content {
    height: 72vh;
    width: 100%;
    margin-top: 1vh;
    display: inline-block;
}


/* .margin-lr-2 {
    margin-left: 2%;
    margin-right: 2%;
} */

.margin-lr-auto {
    text-align: center;
}


/*
    Chess-screen-footer start
*/