<div class="justify-content-center h-100" style="width: 90%;height: 100%; display: inline-block;">
    <div class="col-md-12 col-xl-12 chat">
        <div class="card">
            <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                    <div class="img_cont">
                        <!-- <img src="https://i.pinimg.com/originals/df/25/e3/df25e39d7400f1bbcb7adf695063faaa.jpg" class="rounded-circle user_img"> -->

                    </div>
                    <div class="user_info text-center">
                        <div>Opponent</div>
                        <p>{{messages.length}}</p>
                    </div>
                </div>
            </div>
            <div class="card-body msg_card_body">
                <div *ngFor="let message of messages">
                    <div *ngIf="message.sender == 'self'" class="d-flex justify-content-start msg-box">
                        <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_container">
                            {{message.text}}
                        </div>
                    </div>
                    <div *ngIf="message.sender == 'opponent'" class="d-flex justify-content-end">
                        <div class="msg_container_send">
                            {{message.text}}
                        </div>
                        <div class="img_cont_msg">
                            <img src="https://i.pinimg.com/originals/df/25/e3/df25e39d7400f1bbcb7adf695063faaa.jpg" class="rounded-circle user_img_msg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <form>
                    <div class="input-group">
                        <textarea class="form-control" [(ngModel)]="sentMessage" name="sentMessage" class="form-control type_msg" placeholder="Type your message..." (keypress)="sendMessage($event)"></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn" type="submit" (click)="sendMessage('send')"> <i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>