<!-- <div *ngIf="chessPiece; else nothing" class="{{chessPieceClass}}" [ngClass]="{'chess-piece-rotate':playerNumber(),'chess-place-available':isAvailablePlace}" (mouseenter)="pieceHover($event)" (mouseleave)="pieceHover($event)" [draggable]="canDrag" (dragstart)="handleDragStart($event)"
    (dragenter)="handleDragEnter($event)" (dragover)="handleDragOver($event)" #draggableDiv>

</div> -->
<div *ngIf="chessPiece; else nothing" class="chess-piece" [ngClass]="{'chess-piece-rotate':playerNumber(),'chess-place-available':isAvailablePlace}" (mouseenter)="pieceHover($event)" (mouseleave)="pieceHover($event)" [draggable]="canDrag" (dragstart)="handleDragStart($event)"
    (dragenter)="handleDragEnter($event)" (dragover)="handleDragOver($event)" #draggableDiv>
    <!-- <p>
        {{chessPiece.sanCoordinate}}
    </p> -->
    
    <p>
        <img src="{{chessPiece.returnCharacter()}}">
        <!-- {{chessPiece.returnCharacter()}} -->
        
    </p>
</div>

<ng-template #nothing>
    <div style="width: 100%; height: 100%;" [ngClass]="{'chess-place-available':isAvailablePlace}"></div>

</ng-template>