<div class="body">
    <div class="board container" [ngClass]="{'board-black':playerNumber===1, 'board-white':playerNumber===2}" #board>
        <div class="row" *ngFor="let row of arenaService.chessBoardState.chessBoard; index as
            i">
            <span *ngFor="let piece of row; index as j" (drop)="handleDrop($event,i+1,j+1)" (dragover)="handleDragOver($event)">
                <app-chess-piece class="chess-piece" [canAccessColor]="canAccessColor" [chessPiece]="piece" [x]="i+1"
                    [y]="j+1" (dragDropEvent)="sendDataEvent($event)"
                    [isAvailablePlace]="checkAvailablePlace(i,j)"></app-chess-piece>
            </span>
        </div>
    </div>
</div>